<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

<h1>Submit Ticket</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title() }}<br>
    {{ form.system_type.label }} {{ form.system_type() }}<br>
    {{ form.system.label }} {{ form.system() }}<br>
    {{ form.description.label }} {{ form.description() }}<br>
    {{ form.submit() }}
</form>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</div>
</body>